services:
  db-init:
    image: postgres:17
    volumes:
      - blockscout-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  db:
    image: postgres:17
    user: 2000:2000
    shm_size: 1gb
    restart: always
    container_name: "db"
    command: >-
      postgres
      -c client_connection_check_interval=60000
      -c enable_partitionwise_aggregate=true
      -c enable_partitionwise_join=true
      -c max_connections=200
      -c shared_buffers=2GB
      -c effective_cache_size=6GB
      -c maintenance_work_mem=512MB
      -c checkpoint_completion_target=0.9
      -c wal_buffers=16MB
      -c default_statistics_target=100
      -c random_page_cost=1.1
      -c effective_io_concurrency=200
      -c work_mem=10280kB
      -c huge_pages=off
      -c min_wal_size=1GB
      -c max_wal_size=4GB
      -c max_worker_processes=4
      -c max_parallel_workers_per_gather=2
      -c max_parallel_workers=4
      -c max_parallel_maintenance_workers=2
      -c log_min_duration_statement=5000
    environment:
      POSTGRES_DB: "blockscout"
      POSTGRES_USER: "blockscout"
    volumes:
      - blockscout-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blockscout -d blockscout"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    image: golemnetwork/blockscout-optimism:master
    pull_policy: always
    restart: always
    stop_grace_period: 5m
    container_name: "backend"
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/api/health/readiness"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - ../envs/backend.env
    environment:
      - VIRTUAL_HOST=api.kaolin.golem.neti-soft.dev
      - VIRTUAL_PORT=4000
      - LETSENCRYPT_HOST=api.kaolin.golem.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com
    volumes:
      - backend-logs:/app/logs/
      - backend-dets:/app/dets/
    depends_on:
      - db
    links:
      - db:database

  frontend:
    image: golemnetwork/blockscout-frontend:main
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: "frontend"
    env_file:
      - ../envs/frontend.env
    environment:
      - VIRTUAL_HOST=kaolin.golem.neti-soft.dev
      - LETSENCRYPT_HOST=kaolin.golem.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

  golem-base-indexer:
    image: golemnetwork/blockscout-rs-neti:main
    restart: always
    container_name: "golem-base-indexer"
    env_file:
      - ./envs/golem-base-indexer.env
    environment:
      - VIRTUAL_HOST=golem-indexer.kaolin.golem.neti-soft.dev
      - VIRTUAL_PORT=8050
      - LETSENCRYPT_HOST=golem-indexer.kaolin.golem.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com
    volumes:
      - golem-base-indexer:/app/data/
    links:
      - db
    depends_on:
      - db

  stats-db-init:
    image: postgres:17
    volumes:
      - stats-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  stats-db:
    image: postgres:17
    user: 2000:2000
    shm_size: 256m
    restart: always
    container_name: "stats-db"
    command: postgres -c 'max_connections=200'
    environment:
      POSTGRES_DB: "stats"
      POSTGRES_USER: "stats"
    volumes:
      - stats-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stats -d stats"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats:
    image: ghcr.io/blockscout/stats:latest
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: "stats"
    environment:
      - STATS__CREATE_DATABASE=true
      - STATS__RUN_MIGRATIONS=true
      - STATS__BLOCKSCOUT_API_URL=https://api.kaolin.golem.neti-soft.dev
      - STATS__SERVER__HTTP__CORS__ENABLED=true
      - STATS__SERVER__HTTP__CORS__ALLOWED_ORIGIN=*
      - VIRTUAL_HOST=stats.kaolin.golem.neti-soft.dev
      - VIRTUAL_PORT=8050
      - LETSENCRYPT_HOST=stats.kaolin.golem.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

volumes:
  backend-dets:
  backend-logs:
  blockscout-db-data:
  golem-base-indexer:
  stats-db-data:
