services:
  db-init:
    image: postgres:17
    volumes:
      - blockscout-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  db:
    image: postgres:17
    user: 2000:2000
    shm_size: 1gb
    restart: always
    command: postgres -c 'max_connections=200' -c 'client_connection_check_interval=60000'
    environment:
      POSTGRES_DB: "blockscout"
      POSTGRES_USER: "blockscout"
    volumes:
      - blockscout-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blockscout -d blockscout"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats-db-init:
    image: postgres:17
    volumes:
      - stats-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  stats-db:
    image: postgres:17
    user: 2000:2000
    shm_size: 256m
    restart: always
    command: postgres -c 'max_connections=200'
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
    volumes:
      - stats-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stats -d stats"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats:
    image: ghcr.io/blockscout/stats:latest
    pull_policy: always
    platform: linux/amd64
    restart: always
    env_file:
      - ../envs/stats.env
    environment:
      - VIRTUAL_HOST=stats.l2explorer.arkiv.neti-soft.dev
      - VIRTUAL_PORT=8050
      - LETSENCRYPT_HOST=stats.l2explorer.arkiv.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

  sig-provider:
    image: ghcr.io/blockscout/sig-provider:latest
    pull_policy: always
    platform: linux/amd64
    restart: always

  smart-contract-verifier:
    image: ghcr.io/blockscout/smart-contract-verifier:latest
    pull_policy: always
    platform: linux/amd64
    restart: always
    env_file:
      - ../envs/smart-contract-verifier.env

  user-ops-indexer:
    image: ghcr.io/blockscout/user-ops-indexer:latest
    pull_policy: always
    platform: linux/amd64
    restart: always
    env_file:
      - ../envs/user-ops-indexer.env

  backend:
    pull_policy: always
    restart: always
    stop_grace_period: 5m
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/api/health/readiness"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - ../envs/backend.env
    volumes:
      - backend-logs:/app/logs/
      - backend-dets:/app/dets/
    depends_on:
      - db
    links:
      - db:database
    image: ghcr.io/blockscout/blockscout-optimism:9.0.2
    environment:
      - VIRTUAL_HOST=api.l2explorer.arkiv.neti-soft.dev
      - VIRTUAL_PORT=4000
      - LETSENCRYPT_HOST=api.l2explorer.arkiv.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

  frontend:
    pull_policy: always
    platform: linux/amd64
    restart: always
    env_file:
      - ../envs/frontend.env
    image: golemnetwork/blockscout-l2-frontend:main
    environment:
      - VIRTUAL_HOST=l2explorer.arkiv.neti-soft.dev
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=l2explorer.arkiv.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

  optimism-children-indexer:
    pull_policy: always
    platform: linux/amd64
    restart: always
    env_file:
      - ../envs/optimism-children-indexer.env
    image: golemnetwork/blockscout-optimism-children-indexer:main
    environment:
      - VIRTUAL_HOST=op.l2explorer.arkiv.neti-soft.dev
      - VIRTUAL_PORT=8050
      - LETSENCRYPT_HOST=op.l2explorer.arkiv.neti-soft.dev
      - LETSENCRYPT_EMAIL=kacper.zuk@neti-soft.com

volumes:
  backend-dets:
  backend-logs:
  blockscout-db-data:
  stats-db-data:
